[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=WarpLocal
GenericName=TerminalEmulator

Exec=octomus-terminal-local %U
StartupWMClass=dev.octomus.WarpLocal

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.octomus.WarpLocal

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for warplocal:// URLs.
MimeType=x-scheme-handler/warplocal;
